
@font-face {
  font-family: arcadeTextOld;
  src: url(PressStart2P-Regular.ttf);
}


body {
  background-image: url('background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}


.title {
  display: flex;
  justify-content: center;
  height: 20vh;

}

.versusText {
  font-family: arcadeTextOld;
  color: white;
  display: flex;
  justify-content: center;
}

.reset {
  display: flex;
  justify-content: center;
  transform: scale(2);
  font-family: arcadeTextOld;
  color: white;
  background-color: black;
}

.buttonAligner{
  display: flex;
  justify-content: center;
}
.playerScore {
  font-family: arcadeTextOld;
  color: white;
  text-align: center;
}

.computerScore {
  font-family: arcadeTextOld;
  color: white;
  text-align: center;
}

.player {
  padding-right: 30vw;
}

.computer {
  padding-left: 30vw;
}

.versusImage {
  display: flex;
  justify-content: center;
  padding-top: 4vh;
  height: 40vh;

 
 

}

.scoreVersus{
  
}
.playerImage {
  padding-right: 25vw;
  /*background-color: white;*/
}

.computerImage {
  padding-left: 25vw;
 /* background-color: white;*/
}

img{
  max-width: 100%;
  max-height: 100%;
  display: block; /* remove extra space below image */
}

.stats {
  text-align: center;
  font-family: arcadeTextOld;
  color: white;
line-height: 120%;
}

.ties {
  text-align: center;
  font-family: arcadeTextOld;
  color: white;

}

.rpsImages{
  display: flex;
  justify-content: center;
  height: 20vh;
  gap: 30vw;
}

.rock:hover {
  transform: scale(1.5)
}

.paper:hover {
  transform: scale(1.5)

}

.scissors:hover {
  transform: scale(1.5)
 
}

.playerImage:hover{
  -webkit-filter: drop-shadow(1px 1px 0 black)
  drop-shadow(-1px -1px 0 black);
filter: drop-shadow(1px 1px 0 black) 
drop-shadow(-1px -1px 0 black);
}

.computerImage:hover{
  -webkit-filter: drop-shadow(1px 1px 0 black)
  drop-shadow(-1px -1px 0 black);
filter: drop-shadow(1px 1px 0 black) 
drop-shadow(-1px -1px 0 black);
}